body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.photos{
    margin: auto;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}